/* Generics */
@font-face {
    font-family: "Cantarell";
    src: url("/fonts/Cantarell-Regular-webfont.woff") format('woff');
}

body {
    font-family: 'Cantarell', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #EEEEEE;
}

h1, h2, h3 {
    margin-top: 0px;
}

/* NavBar*/
.top-navbar {
    background: #FFFFFF !important;
}

li.navbar-item.active a {
    color: #333333 !important;
    background-color: #FFFFFF !important;
}

/* Article */
address {
    margin-bottom: 0px;
}

/* Sidebar */
.well {
    background: #FFFFFF !important;
}

/* Footer */
footer {
    text-align: center;
}
