<div class="card mt-4">
    <div class="card-body">
        {{ if .Params.Image }}<img class="cover" src="{{ .Params.Image }}" alt="">{{ end }}
        <h2 class="my-0 font-weight-normal"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <p>
            <i class="fas fa-clock"></i> {{ $.Date.Format "January 2, 2006" }}{{ if .Params.location }} - <i class="fa fa-globe"></i> {{ .Params.location.city }}, {{ .Params.location.country }}{{ end }}
        </p>
        <!-- <img class="img-responsive" src="http://placehold.it/710x230" alt=""> -->
        <p>{{ .Summary }}</p>
        <a class="btn btn-primary" href="{{ .Permalink }}">Read More <i class="fa fa-chevron-right"></i></a>
    </div>
</div>
