<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

    <head>
        {{ partial "head.html" . }}
    </head>

    <body>
        <div class="container">
            {{ partial "navbar.html" . }}

            <div class="row">
                <div class="col-md-8">
                    <div class="card card-body mt-4">
                        <h1>{{ .Title }}</h1>
                    </div>

                    <div class="articles">
                        {{ range (.Paginate .Data.Pages).Pages }}
                          {{ .Render "li" }}
                        {{ end }}
                    </div>
              
                    {{ partial "pagination.html" . }}
                </div>
                <aside class="col-md-4">
                    {{ partial "sidebar.html" . }}
                </aside>
            </div>

            {{ partial "footer.html" . }}
        </div>

        {{ partial "scripts.html" . }}
        {{ partial "additional_css_footer.html" . }}
        {{ partial "additional_js.html" . }}
        {{ partial "ga.js" . }}
    </body>
</html>
