<article class="single card mt-4 card-body" itemscope="itemscope" itemtype="http://schema.org/Article">
    {{ if .Params.Image }}<img id="cover" src="{{ .Params.Image }}" alt="">{{ end }}
    <header class="article-header">
        <h1>{{ .Title }}</h1>
        {{ if not .Date.IsZero }}<time itemprop="datePublished" pubdate="pubdate" datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}"><i class="fa fa-clock"></i> {{ .Date.Format "January 2, 2006" }}</time>{{ end }}{{ if .Params.location }} - <i class="fa fa-globe"></i> {{ .Params.location.city }}, {{ .Params.location.country }}{{ end }}
    </header>

    {{ .Content }}

    {{ if .Params.categories }}
    <div class="section">
        <i class="fa fa-folder"></i> {{ range $i, $e := sort .Params.categories }}{{if $i}}, {{end}}<a href="{{ $.Site.BaseURL}}/categories/{{ $e | urlize }}" class="tag">{{ $e }}</a>{{ end }}
    </div>
    {{ end }}
    {{ if .Params.tags }}
    <div class="section">
        <i class="fa fa-tag"></i> {{ range $i, $e := sort .Params.tags }}{{if $i}}, {{end}}<a href="{{ $.Site.BaseURL}}/tags/{{ $e | urlize }}" class="tag">{{ $e }}</a>{{ end }}
    </div>
    {{ end }}
    <aside>
        <h3>Share</h3>
        <div class="section share">
            <a target="_blank" href="http://www.facebook.com/sharer.php?src=bm&u={{ .Permalink }}&t={{ .Title }}"><i class="fab fa-facebook fa-fw fa-3x"></i></a>
            <a target="_blank" href="http://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}&tw_p=tweetbutton"><i class="fab fa-twitter fa-fw fa-3x"></i></a>
            <a target="_blank" href="http://getpocket.com/edit?url={{ .Permalink }}&title={{ .Title }}"><i class="fab fa-get-pocket fa-fw fa-3x"></i></a>
            <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}"><i class="fab fa-linkedin fa-fw fa-3x"></i></a>
        </div>
        {{ partial "related.html" . }}
        {{ partial "comments.html" . }}
    </aside>
</article>
