{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<div class="card mt-4">
    <div class="card-body">
        {{ if .Paginator.HasNext }}
        <a class="btn btn-outline-primary" href="{{ .Page.RelPermalink }}page/{{ .Paginator.Next.PageNumber }}"><i class="fa fa-chevron-left"></i> Older</a>
        {{ end }}
        {{ if .Paginator.HasPrev }}
        <a class="btn btn-outline-primary float-right" href="{{ .Page.RelPermalink }}page/{{ .Paginator.Prev.PageNumber }}">Newer <i class="fa fa-chevron-right"></i></a>
        {{ end }}
    </div>
</div>
{{ end }}
