<aside class="col-md-4">

    {{ if .Site.Menus.main }}
    <div class="well">
        <h3>Main menu</h3>
        <ul class="list-unstyled">
        {{ $currentNode := . }}
        {{ range .Site.Menus.main }}
            <li>{{ .Pre }}<a href="{{.URL}}">{{ .Name }}</a></li>
        {{end}}
        </ul>
    </div>
    {{ end }}

    {{ if .Site.Menus.social }}
    <div class="well">
        <h3>Social networks</h3>
        <ul class="list-unstyled">
        {{ $currentNode := . }}
        {{ range .Site.Menus.social }}
            <li>{{ .Pre }}<a href="{{.URL}}">{{ .Name }}</a></li>
        {{end}}
        </ul>
    </div>
    {{ end }}

    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
    {{ if in $.Site.Params.TaxonomiesInSidebar $taxonomyname }}
    <div class="well">
        <h3 class="text-capitalize">{{ $taxonomyname }}</h3>
        <ul class="list-unstyled">
        {{ range $name, $value := $taxonomy }}
            <li><a href="/{{ $taxonomyname }}/{{ $name | urlize }}">{{ $name | humanize }}</a></li>
        {{ end }}
        </ul>
    </div>
    {{ end }}
    {{ end }}

</aside>
